{% extends "main/homePage.html" %}

{% block content %}
<div id="page_1">
    <div id="header">
        <h1>HTML and CSS Basics</h1>
    </div>

    <hr>

    <ul>
        <li id><a href="/main">Main</a></li>
        <li id><a href="/home_2">History of HTML</a></li>
        <li id><a href="/home_4">History of CSS</a></li>
        <li id><a href="/home_6">CSS guide</a></li>
        <li id><a href="/home_9">HTML guide</a></li>
        <li id><a href="/home_11">Useful references</a></li>
        <li id><a href="/home_12">Navigation</a></li>
        <li id><a href="/home_8">Videos</a></li>
    </ul>
    <hr>
</div>

<div id="page_1_1">
<pre>

                    Much information was taken from different sites, so it would be reasonable to mention them and help the users to get some new
                    information. Firstly, if you want to get some more information on HTML, you can visit this <a href="https://www.geeksforgeeks.org/html-tutorials/">link</a>.
                    For getting some more information on CSS topic, it's reasonable to visit following <a href="https://www.geeksforgeeks.org/css-tutorials/">link</a>.
        </pre>

    <img id="photo_16" src="https://img.icons8.com/cotton/2x/info.png"
         height="250px" width="250px">
<pre>

                    If you want to get more information about HTML history, visit this  <a href="https://en.wikipedia.org/wiki/HTML">link</a>.
                    If you want to get more information about CSS history, visit this  <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">link</a>.

</pre>

    <img id="photo_17" src="https://codestart.com/img/DoIcon.png"
         height="250px" width="250px">







<pre>
                    <a href="https://www.w3schools.com/css/css_quiz.asp">Here</a> you can take quiz on CSS topic in order to check your knowledge.
                    <a href="https://www.w3schools.com/html/html_quiz.asp">Here</a> you can take quiz on HTML topic in order to check your knowledge.
</pre>
<img id="photo_18" src="https://cdn1.iconfinder.com/data/icons/user-interface-2-glyph/32/ui_history_schedule_time-512.png"
     height="250px" width="250px">








<pre>
                    <a href="https://www.w3schools.com/html/html_exercises.asp">This</a> link contains interesting problems and exercises on HTML.
                    <a href="https://www.w3schools.com/css/css_exercises.asp">This</a> link contains interesting problems and exercises on CSS.
</pre>
    <img id="photo_19" src="https://cdn3.iconfinder.com/data/icons/brain-games/1042/Quiz-Games.png"
         height="200px" width="200px">
    <div id="footer">
    <pre><p>© 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university.
        If you want something to change, please feel free to contact me at zadorozhnyy@ucu.edu.ua.</p></pre>
    </div>
</div>
{% endblock %}