{% extends "main/homePage.html" %}
{% block content %}
<div id="page_1">
    <div id="header">
        <h1>HTML and CSS Basics</h1>
    </div>

    <hr>

    <ul>
        <li id><a href="/main">Main</a></li>
        <li id><a href="/home_2">History of HTML</a></li>
        <li id><a href="/home_4">History of CSS</a></li>
        <li id><a href="/home_6">CSS guide</a></li>
        <li id><a href="/home_9">HTML guide</a></li>
        <li id><a href="/home_11">Useful references</a></li>
        <li id><a href="/home_12">Navigation</a></li>
        <li id><a href="/home_8">Videos</a></li>
    </ul>
    <hr>
</div>

<div id="page_1_1">
    <pre>


                In order to get your CSS skills improved, you can see following videos:
    </pre>

    <iframe id="video" width="420" height="315" src="https://www.youtube.com/embed/yfoY53QXEnI"></iframe>

    <pre>
                In order to get your HTML skills improved, you can see following videos:
    </pre>

    <iframe id="video_1" width="420" height="315" src="https://www.youtube.com/embed/UB1O30fR-EE"></iframe>

    <div id="footer">
    <pre><p>© 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university.
        If you want something to change, please feel free to contact me at zadorozhnyy@ucu.edu.ua.</p></pre>
    </div>

</div>
{% endblock %}