{% extends "main/homePage.html" %}

{% block content %}

<div id="page_1">
    <div id="header">
        <h1>HTML and CSS Basics</h1>
    </div>

    <hr>

    <ul>
        <li id><a href="/main">Main</a></li>
        <li id><a href="/home_2">History of HTML</a></li>
        <li id><a href="/home_4">History of CSS</a></li>
        <li id><a href="/home_6">CSS guide</a></li>
        <li id><a href="/home_9">HTML guide</a></li>
        <li id><a href="/home_11">Useful references</a></li>
        <li id><a href="/home_12">Navigation</a></li>
        <li id><a href="/home_8">Videos</a></li>
    </ul>
    <hr>
</div>

<div id="page_1_1">
    <pre>                       <b>What is CSS?</b>
                                    - CSS stands for Cascading Style Sheets
                                    - CSS describes how HTML elements are to be displayed on screen, paper, or in other media
                                    - CSS saves a lot of work. It can control the layout of multiple web pages all at once
                                    - External stylesheets are stored in CSS files
                                <b>Why Use CSS?</b>
                                    - CSS is used to define styles for your web pages, including the design, layout and variations
                                        in display for different devices and screen sizes.
                                <b>CSS Solved a Big Problem</b>
                                    - HTML was NEVER intended to contain tags for formatting a web page!
                                    - HTML was created to describe the content of a web page, like:
                                        &lth1&gtThis is a heading &lt/h1&gt
                                        &ltp&gtThis is a paragraph.&lt/p&gt
                                        &lth1&gtThis is a heading&lt/h1&gt
                                        &ltp&gtThis is a paragraph.&lt/p&gt

                         When tags like &ltfont&gt, and color attributes were added to the HTML 3.2 specification, it started a nightmare for
                         web developers. Development of large websites, where fonts and color information were added to every single page,
                         became a long and expensive process. To solve this problem, the World Wide Web Consortium (W3C) created CSS. CSS
                         removed the style formatting from the HTML page!
                                <b>CSS Saves a Lot of Work!</b>

                         The style definitions are normally saved in external .css files.
                         With an external stylesheet file, you can change the look of an entire website by changing just one file!
                                <b>CSS Syntax</b>

                        A CSS rule-set consists of a selector and a declaration block:

    </pre>
    <img id="photo_11" src= "https://www.w3schools.com/css/selector.gif" width="840px" height="200px">
    <pre>
                        The selector points to the HTML element you want to style.
                        The declaration block contains one or more declarations separated by semicolons.
                        Each declaration includes a CSS property name and a value, separated by a colon.
                        A CSS declaration always ends with a semicolon, and declaration blocks are surrounded by curly braces.
    </pre>
    <img id="photo_12" src= "https://cdn4.iconfinder.com/data/icons/iconsimple-programming/512/css-512.png" width="200px" height="200px">
    <p3><a id="button_1" href="home_7">More information...</a></p3>

    <div id="footer">
    <pre><p>© 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university.
        If you want something to change, please feel free to contact me at zadorozhnyy@ucu.edu.ua.</p></pre>
    </div>
</div>
{% endblock %}