{% extends "main/homePage.html" %}

{% block content %}
<p3 id="university_name">HTML and CSS Basics</p3>
<hr id="hr_1">
<ul id>
    <li id><a href="/main">Main</a></li>
    <li id><a href="/home_2">History of HTML</a></li>
    <li id><a href="/home_4">History of CSS</a></li>
    <li id><a href="/home_6">CSS guide</a></li>
    <li id><a href="/home_9">HTML guide</a></li>
    <li id><a href="/home_11">Useful references</a></li>
    <li id><a href="/home_12">Navigation</a></li>
</ul>
<hr id="hr_2">

<img id="icon" src="https://pbs.twimg.com/profile_images/1107654320043057152/yR6FxY5C.png"
     height="42" width="42">
<img id="background_1" src= "https://wallpaperaccess.com/full/796832.jpg" >
<article id="article_1">
    <pre>                       <b>What is CSS?</b>
                                    - CSS stands for Cascading Style Sheets
                                    - CSS describes how HTML elements are to be displayed on screen, paper, or in other media
                                    - CSS saves a lot of work. It can control the layout of multiple web pages all at once
                                    - External stylesheets are stored in CSS files
                                <b>Why Use CSS?</b>
                                    - CSS is used to define styles for your web pages, including the design, layout and variations
                                        in display for different devices and screen sizes.
                                <b>CSS Solved a Big Problem</b>
                                    - HTML was NEVER intended to contain tags for formatting a web page!
                                    - HTML was created to describe the content of a web page, like:
                                        &lth1&gtThis is a heading &lt/h1&gt
                                        &ltp&gtThis is a paragraph.&lt/p&gt
                                        &lth1&gtThis is a heading&lt/h1&gt
                                        &ltp&gtThis is a paragraph.&lt/p&gt
                         When tags like &ltfont&gt, and color attributes were added to the HTML 3.2 specification, it started a nightmare for
                         web developers. Development of large websites, where fonts and color information were added to every single page,
                         became a long and expensive process. To solve this problem, the World Wide Web Consortium (W3C) created CSS. CSS
                         removed the style formatting from the HTML page!
                                <b>CSS Saves a Lot of Work!</b>
                        The style definitions are normally saved in external .css files.
                        With an external stylesheet file, you can change the look of an entire website by changing just one file!
                                <b>CSS Syntax</b>
                        A CSS rule-set consists of a selector and a declaration block:









                        The selector points to the HTML element you want to style.
                        The declaration block contains one or more declarations separated by semicolons.
                        Each declaration includes a CSS property name and a value, separated by a colon.
                        A CSS declaration always ends with a semicolon, and declaration blocks are surrounded by curly braces.
    </pre>
</article>
<p3><a id="button_1" href="home_7">More information...</a></p3>
<img id="photo_11" src= "https://www.w3schools.com/css/selector.gif" width="840px" height="200px">
<img id="photo_12" src= "https://cdn4.iconfinder.com/data/icons/iconsimple-programming/512/css-512.png" width="200px" height="200px">
<div id="footer">
    <pre><p>© 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university.
        If you want something to change, please feel free to contact me at zadorozhnyy@ucu.edu.ua.</p></pre>
</div>
{% endblock %}