{% extends "main/homePage.html" %}

{% block content %}
<div id="page_1">
    <div id="header">
        <h1>HTML and CSS Basics</h1>
    </div>

    <hr>

    <ul>
        <li id><a href="/main">Main</a></li>
        <li id><a href="/home_2">History of HTML</a></li>
        <li id><a href="/home_4">History of CSS</a></li>
        <li id><a href="/home_6">CSS guide</a></li>
        <li id><a href="/home_9">HTML guide</a></li>
        <li id><a href="/home_11">Useful references</a></li>
        <li id><a href="/home_12">Navigation</a></li>
        <li id><a href="/home_8">Videos</a></li>
    </ul>
    <hr>
</div>

<div id="page_1_1">
    <pre>

                                <b>In order to navigate easily, follow these links: </b>

                                    - HTML history - <a href="/home_2">here</a>;

                                    - More on HTML history - <a href="/home_3">here</a>;

                                    - CSS history - <a href="/home_4">here</a>;

                                    - More on CSS history - <a href="/home_5">here</a>;

                                    - HTML information - <a href="/home_9">here</a>;

                                    - More HTML information - <a href="/home_10">here</a>;

                                    - CSS information - <a href="/home_6">here</a>;

                                    - More CSS information - <a href="/home_7">here</a>;

                                    - Quizzes and problems on CSS and HTML - <a href="/home_11">here</a>;

                                    - Main page - <a href="/main">here</a>;
    </pre>

    <img id="photo_20" src="https://cdn4.iconfinder.com/data/icons/unigrid-maps-travel/52/007_map_compass_location_navigate_navigation-512.png"
         height="250px" width="250px">

    <div id="footer">
    <pre><p>© 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university.
        If you want something to change, please feel free to contact me at zadorozhnyy@ucu.edu.ua.</p></pre>
    </div>

</div>
{% endblock %}