{% extends "main/homePage.html" %}
{% block content %}
<p3 id="university_name">HTML and CSS Basics</p3>
<hr>
<ul>
    <li id><a href="http://127.0.0.1:8000/main" id="a">Main</a></li>
    <li id><a href="http://127.0.0.1:8000/home_2/" id="a">History of HTML</a></li>
    <li id><a href="http://127.0.0.1:8000/home_4/">History of CSS</a></li>
    <li id><a href="http://127.0.0.1:8000/home_6">CSS guide</a></li>
    <li id><a href="http://127.0.0.1:8000/home_9">HTML guide</a></li>
    <li id><a href="http://127.0.0.1:8000/home_11">Useful references</a></li>
    <li id><a href="http://127.0.0.1:8000/home_12">Navigation</a></li>
</ul>
<hr>
<img id="icon" src="https://pbs.twimg.com/profile_images/1107654320043057152/yR6FxY5C.png" alt="Логотип Відкритого Університету"
     height="42" width="42">
<img id="background_1" src= "https://wallpaperaccess.com/full/796832.jpg" >

<article id="article_1">
    <pre>   <b>Elements and Tag</b>: HTML uses predefined tags and elements which tells the browser about content display property. If a tag is not closed then browser applies that effect till end of page.
            For Example: &ltb&gt Hello, HTML &lt/b&gt.
            The result of this command will be a string with bold solid black color. Tags &ltb&gt and &lt/b&gt define the behaviour of the text "Hello, HTML" inside. &ltb&gt stands for opening tag while
            &lt/b&gt stands for closing tag.












        <b>&ltDOCTYPE!</b> html&gt: This tag is used to tells the HTML version. This currently tells that the version is HTML 5.
            <b>&lthtml&gt:</b> This is called HTML root element and used to wrap all the code.
            <b>&lthead&gt:</b> Head tag contains metadata, title, page CSS etc. All the HTML elements that can be used inside the &lthead&gt element are:
                    - &ltstyle&gt                           - &lttitle&gt
                    - &lttitle&gt                           - &ltmeta&gt
                    - &ltbase&gt                            - &ltscript&gt
                    - &ltnoscript&gt
            <b>&ltbody&gt</b>: Body tag is used to enclosed all the data which a web page has from texts to links. All of the content that you see rendered in the browser is contained within this element.
        <b>Example</b>: HTML page can be created using any text editor (notepad). Then save that file using .htm or .html extension and open that file in browser. It will get the HTML page response.

        <b>Features of HTML:</b>                                                                                     <b>Why learn HTML?</b>
                - It is easy to learn and easy to use.                                                        - It is a simple markup language. Its implementation is easy.
                - It is platform independent.                                                                   - It is used to create a website.
                - Images, video and audio can be added to a web page.                        - Helps in developing fundamentals about web programming.
                - Hypertext can be added to text.                                                           - Boost professional career.
                - It is a markup language.

        <b>Advantages:</b>                                                                                                 <b>Disadvantages:</b>
                - HTML is used to build a websites.                                                             - HTML can create only static webpages so for dynamic web page other languages have to be used.
                - It is supported by all browsers.                                                                  - Large amount of code has to be written to create a simple web page.
                - It can be integrated with other languages like CSS, JavaScript etc.          - Security feature is not good.
    </pre>
</article>
<p3><a id="button_1" href="home_10">More information...</a></p3>
<pre id="bottom_5">


    © 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university. Contact me zadorozhnyy@ucu.edu.ua, if you want something to change.</pre>
<img id="photo_13" src="https://media.geeksforgeeks.org/wp-content/uploads/Untitled-drawing-1-6.png"
     height="450px" width="750px">
{% endblock %}