{% extends "main/homePage.html" %}

{% block content %}
<p3 id="university_name">HTML and CSS Basics</p3>
<hr id="hr_1">
<ul id>
    <li id><a href="/main">Main</a></li>
    <li id><a href="/home_2">History of HTML</a></li>
    <li id><a href="/home_4">History of CSS</a></li>
    <li id><a href="/home_6">CSS guide</a></li>
    <li id><a href="/home_9">HTML guide</a></li>
    <li id><a href="/home_11">Useful references</a></li>
    <li id><a href="/home_12">Navigation</a></li>
</ul>
<hr id="hr_2">

<img id="icon" src="https://pbs.twimg.com/profile_images/1107654320043057152/yR6FxY5C.png"
     height="42" width="42">
<img id="background_3" src= "https://wallpaperaccess.com/full/796832.jpg" >
<article id="article_1">
    <pre>                       <b>In order to navigate easily, follow these links: </b>

                                    - HTML history - <a href="/home_2">here</a>;

                                    - More on HTML history - <a href="/home_3">here</a>;

                                    - CSS history - <a href="/home_4">here</a>;

                                    - More on CSS history - <a href="/home_5">here</a>;

                                    - HTML information - <a href="/home_9">here</a>;

                                    - More HTML information - <a href="/home_10">here</a>;

                                    - CSS information - <a href="/home_6">here</a>;

                                    - More CSS information - <a href="/home_7">here</a>;

                                    - Quizzes and problems on CSS and HTML - <a href="/home_11">here</a>;

                                    - Main page - <a href="/main">here</a>;
    </pre>
</article>
<img id="photo_20" src="https://cdn4.iconfinder.com/data/icons/unigrid-maps-travel/52/007_map_compass_location_navigate_navigation-512.png"
     height="250px" width="250px">
<div id="footer_3">
    <pre><p>© 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university.
        If you want something to change, please feel free to contact me at zadorozhnyy@ucu.edu.ua.</p></pre>
</div>
{% endblock %}