{% extends "main/homePage.html" %}

{% block content %}
<p3 id="university_name">HTML and CSS Basics</p3>
<hr>
<ul>
    <li id><a href="http://127.0.0.1:8000/main" id="a">Main</a></li>
    <li id><a href="http://127.0.0.1:8000/home_2/" id="a">History of HTML</a></li>
    <li id><a href="http://127.0.0.1:8000/home_4/">History of CSS</a></li>
    <li id><a href="http://127.0.0.1:8000/home_6">CSS guide</a></li>
    <li id><a href="http://127.0.0.1:8000/home_9">HTML guide</a></li>
    <li id><a href="http://127.0.0.1:8000/home_11">Useful references</a></li>
    <li id><a href="http://127.0.0.1:8000/home_12">Navigation</a></li>
</ul>
<hr>
<img id="icon" src="https://pbs.twimg.com/profile_images/1107654320043057152/yR6FxY5C.png" alt="Логотип Відкритого Університету"
     height="42" width="42">
<img id="background_1" src= "https://wallpaperaccess.com/full/796832.jpg" >
<article id="article_1">
<pre>
                                                                                                                                         <b>Variations of CSS</b>
    CSS has various levels and profiles. Each level of CSS builds upon the last, typically adding new features and typically denoted as CSS 1, CSS 2, CSS 3, and CSS 4. Profiles are typically a
    subset of one or more levels of CSS built for a particular device or user interface. Currently there are profiles for mobile devices, printers, and television sets. Profiles should not be
    confused with media types, which were added in CSS 2.
    <b>CSS 1</b>
    The first CSS specification to become an official W3C Recommendation is CSS level 1, published on December 17, 1996. Håkon Wium Lie and Bert Bos are credited as the original de-
    velopers. Among its capabilities are support for:
                    - Font properties such as typeface and emphasis
                    - Color of text, backgrounds, and other elements
                    - Text attributes such as spacing between words, letters, and lines of text
                    - Alignment of text, images, tables and other elements
                    - Margin, border, padding, and positioning for most elements
                    - Unique identification and generic classification of groups of attributes
                    - The W3C no longer maintains the CSS 1 Recommendation.
    <b>CSS 2</b>
    CSS level 2 specification was developed by the W3C and published as a recommendation in May 1998.
    A superset of CSS 1, CSS 2 includes a number of new capabilities like absolute,
    relative, and fixed positioning of elements and z-index, the concept of media types, support for
    aural style sheets (which were later replaced by the CSS 3 speech modules) and
    bidirectional text, and new font properties such as shadows.
    The W3C no longer maintains the CSS 2 recommendation.
    <b>CSS 2.1</b>
    CSS level 2 revision 1, often referred to as "CSS 2.1", fixes errors in CSS 2, removes poorly supported
    or not fully interoperable features and adds already implemented browser extensions to the specification.
    To comply with the W3C Process for standardizing technical specifications, CSS 2.1 went back and forth
    between Working Draft status and Candidate Recommendation status for many years. CSS 2.1 first became a
    Candidate Recommendation on February 25, 2004, but it was reverted to a Working Draft on June 13, 2005
    for further review. It returned to Candidate Recommendation on 19 July 2007 and then updated twice in 2009.
    However, because changes and clarifications were made, it again went back to Last Call Working Draft on
    7 December 2010. CSS 2.1 went to Proposed Recommendation on 12 April 2011. After being reviewed by the
    W3C Advisory Committee, it was finally published as a W3C Recommendation on 7 June 2011. CSS 2.1 was planned
    as the first and final revision of level 2—but low priority work on CSS 2.2 began in 2015.
    <b>CSS 3</b>
    "CSS3" redirects here. For other uses, see CSS3 (disambiguation).
    Unlike CSS 2, which is a large single specification defining various features, CSS 3 is divided into several
    separate documents called "modules". Each module adds new capabilities or extends features defined in CSS 2,
    preserving backward compatibility. Work on CSS level 3 started around the time of publication of the original
    CSS 2 recommendation. The earliest CSS 3 drafts were published in June 1999. Due to the modularization, different modules have different stability and statuses.</pre>
</article>
<pre id="bottom_4">


    © 2020. Designed by Vladyslav Zadorozhnyy as a part of homework from web development at UCU university. Contact me zadorozhnyy@ucu.edu.ua, if you want something to change.</pre>

<img id="image_1" src="https://i.redd.it/bptzx7ur4uj11.jpg" width="450px" height="300px">
<img id="image_2" src="https://i.pinimg.com/originals/81/d2/bf/81d2bffd2d12c8275ab2c708b3fd5297.gif" width="450px" height="300px">

{% endblock %}