ul {
    list-style-type: none;
    position: absolute;
    top: 4%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}

#hr_1 {
    position: absolute;
    width: 99%;
    top: 4%;
}

#hr_2 {
    position: absolute;
    width: 99%;
    top: 11%;
}

#icon {
    position: absolute;
    top: 6%;
}

#university_name {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 40%;
}

#footer {
    position: absolute;
    top: 145%;
    width: 65%;
    margin-left: 15%;
    background-color: black;
    color: white;
    text-align: center;
}

#footer_2 {
    position: absolute;
    top: 280%;
    width: 65%;
    height: 7%;
    margin-left: 15%;
    background-color: black;
    color: white;
    text-align: center;
}

#footer_3 {
    position: absolute;
    top: 160%;
    width: 65%;
    height: 7%;
    margin-left: 15%;
    background-color: black;
    color: white;
    text-align: center;
}



#footer_4 {
    position: absolute;
    top: 180%;
    width: 65%;
    height: 7%;
    margin-left: 15%;
    background-color: black;
    color: white;
    text-align: center;
}

#icon_1 {
    position: absolute;
    top: 27%;
    left: 30%;
}

#icon_2 {
    position: absolute;
    top: 27%;
    left: 45%;
}

#icon_3 {
    position: absolute;
    top: 27%;
    left: 60%;
}

#icon_4 {
    position: absolute;
    top: 69%;
    left: 30%;
}

#icon_5 {
    position: absolute;
    top: 69%;
    left: 45%;
}

#icon_6 {
    position: absolute;
    top: 69%;
    left: 60%;
}

#icon_7 {
    position: absolute;
    top: 110%;
    left: 50%;
}

#icon_8 {
    position: absolute;
    top: 110%;
    left: 38%;
}

#icon_9 {
    position: absolute;
    top: 110%;
    left: 28%;
}

#text_0, #text_1, #text_2 {
    position: relative;
    font-size: 20px;
    font-family: "Century Schoolbook L";
}

#background_1 {
    width: 99%;
    height: 140%;
    position: absolute;
    top: 13%;
}

#background_3 {
    width: 99%;
    height: 155%;
    position: absolute;
    top: 13%;
}

#background_4 {
    width: 99%;
    height: 175%;
    position: absolute;
    top: 13%;
}

#article_1 {
    margin-left: 15%;
    font-size: 15px;
    background-color: white;
    width: 65%;
    line-height: 30px;
    position: absolute;
    align-content: center;
    top: 15%;
}

#background_2 {
    width: 99%;
    height: 137%;
    position: absolute;
    top: 150%;
}

#article_1 pre {
    font-family: SansSerif;
}

#article_2 {
    background-color: white;
    width: 35%;
    line-height: 30px;
    position: absolute;
    top: 15%;
    left: 5%;
}

#article_2 pre {
    font-family: SansSerif;
}

#photo_1 {
    position: absolute;
    top: 20%;
    left: 55%;
}

#photo_2 {
    position: absolute;
    top: 20%;
    left: 69%;
}

#photo_20 {
    position: absolute;
    top: 20%;
    left: 49%;
}

#photo_3 {
    position: absolute;
    top: 90%;
    left: 60%;
}

#image_1 {
    position: absolute;
    top: 90%;
    left: 55%;
}

#image_2 {
    position: absolute;
    top: 40%;
    left: 55%;
}

#button_1 {
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15%;
    position: absolute;
    right: 22%;
    top: 45%;
}

#button_1:hover {
    background-color: grey;
    text-decoration: none;
}

#bottom_3 {
    color: white;
    background-color: black;
    font-family: "Century Schoolbook L";
    height: 80px;
    position: absolute;
    top: 265%;
    width: 99.2%;
}

#photo_4 {
    position: absolute;
    top: 50%;
    left: 58%;
}

#photo_5 {
    position: absolute;
    top: 160%;
    left: 60%;
}

#photo_6 {
    position: absolute;
    top: 110%;
    left: 60%;
}

#photo_7 {
    position: relative;
    left: 30%;
}

#photo_8 {
    position: absolute;
    top: 17%;
    left: 64%;
}

#photo_9 {
    position: absolute;
    left: 65%;
    top: 95%;
}

#bottom_4 {
    position: absolute;
    top: 139%;
}

#bottom_5 {
    color: white;
    background-color: black;
    font-family: "Century Schoolbook L";
    height: 80px;
    position: absolute;
    top: 138%;
    width: 99.2%;
}

#bottom_6 {
    color: white;
    background-color: black;
    font-family: "Century Schoolbook L";
    height: 80px;
    position: absolute;
    top: 118%;
    width: 99.2%;
}

table.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 15%;
    left: 45%;
    text-align: center;
    border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}
table.paleBlueRows tbody td {
    font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
    background: deepskyblue;
}
table.paleBlueRows tr:nth-child(odd) {
    background: darkgrey;
}
table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
    font-size: 14px;
}

#photo_10 {
    position: absolute;
    top: 35%;
    left: 12%;
}

#photo_11 {
    position: absolute;
    top: 102%;
    left: 25%;
}

#photo_12 {
    position: absolute;
    top: 20%;
    left: 65%;
}

#photo_13 {
    position: absolute;
    top: 27%;
    left: 25%;
}

#photo_14 {
    position: absolute;
    top: 28%;
    left: 72%;
}

#photo_15 {
    position: absolute;
    top: 130%;
    left: 70%;
}

#photo_16 {
    position: absolute;
    top: 30%;
    left: 40%;
}

#photo_17 {
    position: absolute;
    top: 110%;
    left: 39%;
}

#photo_19 {
    position: absolute;
    top: 150%;
    left: 42.5%;
}

#photo_18 {
    position: absolute;
    top: 68%;
    left: 39%;
}